.orderConfirm{
    width: 50%;
    margin: 50px 10px 10px 10px ;
}
.mainHead{
    background-color: rgb(9, 218, 138);
    color: aliceblue;
    width: fit-content;
}
thead,tfoot{
    font-weight: bold;
}
.footbtn{
    text-align: right;
}
.incre,.dicre{
    border-radius: 50%;
    height: fit-content;
    color: rgb(125, 25, 207);
    background-color: rgb(197, 194, 194);
    text-shadow: 5px 10px #888888;
}