<mat-card>
    <h2 class="helight"> User thanks for choosing this website i will give the good experience for u plesae select the
        product</h2>
    <div class="btndiv">
        <button mat-button color="primary" (click)="getvagetables()">Vagetables</button>
        <button mat-button color="accent" (click)="getfruits()">Fruits</button>
        <button mat-button color="warn" (click)="getgrocery()">Grocerries</button>
        <div style="float: right;">
            <pagination-controls (pageChange)="page=$event"></pagination-controls>
        </div>
        <div class="input-group">
            <input type="search"  class="form-control serach" placeholder="Search Items" aria-label="Search" aria-describedby="search-addon"  [(ngModel)]="term" />
            <button type="button" class="btn btn-outline-primary">search</button>
        </div>
    </div>
</mat-card>

<!--############################### 
    ## dispalying itrating data  ## 
    ###############################-->
<div class="fix-container" >
    <div *ngFor="let itm of LoadContant |paginate: { itemsPerPage: 3 , currentPage: page ,totalItems: totalLength } 
                            | filter: term" style="margin-top: 76px;">
        <mat-card  class="mate-card" fxFlexAlign="stretch" >
            <mat-card-header>
                <mat-card-title>{{itm.title | uppercase}}</mat-card-title>
            </mat-card-header>
            <mat-card-content class="mcard-body">
                <img width="20px" height="91px"  mat-card-image src="{{itm.src}}">
                <h3>price :${{itm.price}}.00</h3>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="accent" (click)="addCart(itm)" >ADDTOCART</button>
                <button mat-stroked-button color="warn" data-bs-toggle="modal"
                data-bs-target= itm.id (click)="getid(itm.id)">MORE DETAILS</button>
            </mat-card-actions>
        </mat-card>
    </div>
    
</div>



<!--############################### 
    ######### HideBackGround ###### 
    ###############################-->
<div *ngIf="show">
    <div class="icon">
        <marquee direction="up" scrollamount="10">
            <mat-icon class="uparrow">arrow_upward</mat-icon>
        </marquee>
    </div>
    <div class="offer">
        <h1>Hurry up today's offer is buy one get one</h1>
        <h1>Chose above Products</h1>
    </div>
</div>

<!--############################### 
    ## Based onthe Addcart modal ## 
    ###############################-->
<div class="modal fade" [id]=modalId tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div  *ngFor="let itm of LoadContant">
    <div class="modal-dialog" *ngIf="itm.id === modalId">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="exampleModalLabel">{{itm.title}}</h2>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
    </div>
</div>

